
DedicatedServer/obj/Debug/net5.0/DedicatedServer.csproj.AssemblyReference.cache

DedicatedServer/obj/Debug/net5.0/DedicatedServer.csproj.BuildWithSkipAnalyzers

DedicatedServer/obj/Debug/net5.0/DedicatedServer.csproj.CoreCompileInputs.cache

DedicatedServer/obj/Debug/net5.0/DedicatedServer.dll

DedicatedServer/obj/Debug/net5.0/DedicatedServer.pdb

DedicatedServer/obj/Debug/net5.0/

DedicatedServer/bin/Debug/net5.0/DedicatedServer 1.0.0.zip

DedicatedServer/bin/Debug/net5.0/DedicatedServer.dll

DedicatedServer/bin/Debug/net5.0/DedicatedServer.pdb
